#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table tr,
#table td {
  border: solid 1px grey;
  padding: 8px;
}

#table th {
  text-align: center;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkolivegreen;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

#table td:nth-child(3) {
  text-align: center;
}
#table td:nth-child(2) {
  text-align: left;
}

#table p {
  font-weight: bold;
  color: darkolivegreen;
}

#table .delete_button {
  background-color: red;
  width: 90px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 15px;
  border: none;
}

#table .edit_button {
  background-color: green;
  width: 90px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 15px;
  border: none;
}

#table td:nth-child(2) {
  display: flex;
  border: none;
  align-items: center;
}

#table span {
  font-size: 18px;
  word-wrap: break-word;
  word-break: normal;
}

#table .quotediv {
  width: 88%;
  height: 100%;
}
table .button_div {
  width: 12%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

span {
  padding: 8px 6px ;
}
